<div class="col-sm-12">
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<div id="header-logo" class="navbar-brand" ui-sref="pb.home" ui-sref-opts="{reload:true}">PostBucket</div>
		</div>
		<div class="navbar-body">
			<ul class="nav navbar-nav navbar-left">
				<li ui-sref-active="active"><a ui-sref="pb.home " ui-sref-opts="{reload: true}">NEW POST</a></li>
				<li ui-sref-active="active"><a ui-sref="pb.latestPosts">LATEST</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li ng-if="!$ctrl.loggedIn"><a class="nav-link"  ui-sref="pb.login">LOGIN</a></li>
				<li ng-if="!$ctrl.loggedIn"><a class="nav-link" ui-sref="pb.signup">SIGN UP</a></li>
				<li ng-if="$ctrl.loggedIn"><p class="navbar-text">Logged in as <a ui-sref='pb.user({username:$ctrl.user.username})'>{{$ctrl.user.username}}</a></p></li>
				<li ui-sref-active="active" ng-if="$ctrl.loggedIn"><a class="nav-link"  ui-sref="pb.myPosts">MY POSTS</a></li>
				<li ng-if="$ctrl.loggedIn"><a class="nav-link" ng-click="$ctrl.logoutUser()">LOGOUT</a></li>
			</ul>
		</div>
	</div>
</div>

</div>